#box{
     width: 1200px;
     height: 400px;
	 border-style: solid;
	 //position : absolute
	 //margin: 100px 0px 0px 0px;
}

.icon-bar{
    width: 1206px; /* Full-width */
    height: 36px; /* Full-height */
    background-color: #555; /* Dark-grey background */
    //overflow: auto; /* Overflow due to float */
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 100px; /* Equal width (5 icons with 20% width each = 100%)
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: yellow;//white; /* White text color */
    font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

