#box{
     width: 100%;//calc(100% - 100px);//936px;//1178px;
     height: 100%;//400px;
     //height: inherit;
     min-height: 415px;//477px;
     //border-style: solid;
	 //position : absolute
	 //margin: 100px 0px 0px 0px;
     float: left;
}

.icon-bar{
    //width: 100px;//1206px; /* Full-width */
    //height: 260px;//100%;//400px;//260px; /* Full-height */
    //min-height: 477px;
    background-color: #2f4050;//#23527c;//#555; /* Dark-grey background */
    overflow: hidden;//auto; /* Overflow due to float */
    float: right;
    //left: calc(100% - 100px);
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 100px; /* Equal width (5 icons with 20% width each = 100%)
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: #a7b1c2;//yellow;//white; /* White text color */
    font-size: 36px; /* Increased font size */
    //display: block;
}

.icon-bar a:hover {
    background-color: #293846;//#000; /* Add a hover color */
    color: white;
}

.switch-wrapper {
  display: inline-block;
  position: relative;
  top: 3px;
}

.radar {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    //border: 10px solid #fff;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-animation: radar 2s infinite;
    animation: radar 2s infinite;
    opacity: 0;
    overflow:hidden;
}

.bg{
    background:rgba(255,255,255,1);
    width:100%;
    height:100%;
    overflow: hidden; 
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.frmLbl{
    width: 100px;
}
.frmTxt{
    width: 200px;
}

@keyframes radar{
    0%{
        width:36px;//50px;
        height:36px;//50px;
        border:40px solid #fff;
        opacity:0
    }50%{
        opacity:.1
    }
    90%{
        width:180px;//750px;
        height:180px;//750px
    }
    90%,100%{
        border:2px 
            solid #fff;
        opacity:0
    }100%{
        width:360px;//1500px;
        height:360px;//1500px
    }
}
